<header>
    <div class="container-grid cabecalho">
        <a routerLink=""><img class="logo" src="/assets/img/logo.svg" alt="Logo da loja Game Mania"></a>
        <nav id="menu" class="menu">
            <a routerLink="/sobre">Sobre</a>
            <a routerLink="/produtos">Produtos</a>
            <a routerLink="/clientes">Clientes</a>
            <a routerLink="/parceiros">Parceiros</a>
            <a routerLink="/contatos">Contatos</a>
        </nav>
            <div class="icones-cabecalho">
                <a id="user-icone" routerLink="/login" target="_blank"><img src="/assets/img/user-icon.svg" alt="Ícone que direciona para a área do usuário."></a>
                <a id="compra-icone" routerLink="#"><img src="/assets/img/compra-icon.svg" alt="Ícone que direciona para o carrinho de compras."></a>
                <input id="campo-busca" type="text" placeholder="Pesquisar..." required>
                <button id="lupa-icone"><img src="/assets/img/magnifying-glass-solid.svg" alt="Ícone que direciona para área de busca de produtos."></button>
                <a routerLink="#" onclick="mostrarMenu()"><img class="link-menu-barras"  src="/assets/img/barras.png" alt="Íconde de menu de barras"></a> <!--**Ativar quado usar o menu de barras do JS** -->
                <!--<a href="#" id="barras"><img class="link-menu-barras"  src="/assets/img/barras.png" alt="Íconde de menu de barras"></a> -->
            </div>
       </div>
       