<main>
    <section class="container-grid-banner">
        <a href="#">Produtos com descontos imperdíveis</a>
    </section>
<!-- Mais vendidos -->
    <section class="container-grid-produtos">
        <div class="mais-vendidos">
            <h2>Mais vendidos</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <div class="row">
                    <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/imac.svg" alt="1 slide"></a>
                    <a href=""><h5>iMac Tela 21.5" Apple Intel Core i5 8GB RAM 256GB</h5></a>
                    <h6>R$10.900</h6>
                    <p>(ou até 10x de R$1.009 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a>
                </div>
                </div>
                    </div>
                    <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/smartphone.svg" alt="2 slide"></a>
                    <a href=""><h5>Smartphone Samsung Galaxy S10e Preto 128GB 6GB RAM</h5></a>
                    <h6>R$4.299</h6>
                    <p>(ou até 10x de R$429,90 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a> 
                </div>
                </div> 
                    </div>
                    <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/fone-ouvido.svg" alt="3 slide"></a>
                    <a href=""><h5>Fone Headset Gamer Led Rgb Plug 3.5mm e Usb</h5></a>
                    <h6>R$329</h6>
                    <p>(ou até 10x de R$32,90 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a>  
                </div>
                </div>
                    </div>
                    <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/controle.svg" alt="4 slide"></a>
                    <a href=""><h5>Controle para Xbox Series One X sem Fio Carbon Black</h5></a>
                    <h6>R$459</h6>
                    <p>(ou até 10x de R$45,90 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a>
                    </div>
                </div> 
                    </div>  
                </div>
                </div>
                <div class="carousel-item">
                <div class="row">
                <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/imac.svg" alt="5 slide"></a>
                    <a href=""><h5>iMac Tela 21.5" Apple Intel Core i5 8GB RAM 256GB</h5></a>
                    <h6>R$10.900</h6>
                    <p>(ou até 10x de R$1.009 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a> 
                </div>
                </div>
                </div>
                <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/smartphone.svg" alt="6 slide"></a>
                    <a href=""><h5>Smartphone Samsung Galaxy S10e Preto 128GB 6GB RAM</h5></a>
                    <h6>R$4.299</h6>
                    <p>(ou até 10x de R$429,90 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a>
                </div> 
                </div>
                </div>
                <div class="col">
                    <div class="card-produto">
                    <a href=""><img class="produto-img" src="/assets/img/fone-ouvido.svg" alt="7 slide"></a>
                    <a href=""><h5>Fone Headset Gamer Led Rgb Plug 3.5mm e Usb</h5></a>
                    <h6>R$329</h6>
                    <p>(ou até 10x de R$32,90 sem juros)</p>
                    <div class="icones">
                    <a href=""> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href=""> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a>
                </div>
                </div>
                </div>
                <div class="col">
                    <div class="card-produto">
                    <a href="#"><img class="produto-img" src="/assets/img/controle.svg" alt="8 slide"></a>
                    <a href="#"><h5>Controle para Xbox Series One X sem Fio Carbon Black</h5></a>
                    <h6>R$459</h6>
                    <p>(ou até 10x de R$45,90 sem juros)</p>
                    <div class="icones">
                    <a href="#"> <img class="icone-compra" src="/assets/img/compra-icon.svg" alt=""></a>
                    <a href="#"> <img class="icone-favorito" src="/assets/img/coracao.svg" alt=""></a>
                </div>
                </div>
                </div>
                </div>
            </div>
            </div>
        </div>
    <!-- Categorias-->
    <section class="container-grid-categorias">
        <h2>Categorias</h2>
        <div class="categorias">
        <div class="card-categorias">
            <a href="#"><img src="/assets/img/pexels-roberto-nickson-7238759.jpg" alt="Imagem de um computador gamer"></a>
            <a href="#">Games</a>
        </div>
        <div class="card-categorias">
            <a href="#"><img src="/assets/img/laptop-g88e7e895d_1280.jpg" alt=""></a>
            <a href="#">Notebooks</a>
        </div>
        <div class="card-categorias">
            <a href="#"><img  src="/assets/img/apple-g871656dbe_1280.jpg" alt=""></a>
            <a href="#">Computadores e periféricos</a>
        </div>
        <div class="card-categorias">
            <a href="#"><img src="/assets/img/pexels-anna-nekrashevich-8533225.jpg" alt=""></a>
            <a href="">Celulares e acessórios</a> 
        </div> 
        </div>
    </section>
    <!-- Notícias-->
    <section class="container-grid-news">
        <img src="/assets/img/imagem-saiba-mais.svg" alt="Imagem de uma mulher sentada em um computador, jogando.">
        <div class="container-text">
            <h3>Saiba mais sobre o universo dos games</h3>
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <button>Leia mais</button>
        </div>
    </section>
