<!-- Rodapé com bootstrap-->
<footer>
    <div class="container">
      <div class="row">
        <div class="col">
          <h6>Políticas de uso</h6>
          <a href="#">Políticas de envio</a>
          <a href="#">Políticas comerciais</a>
          <a href="#">Políticas de privacidade</a>
          <a href="#">Políticas de cancelamento</a>
        </div>
        <div class="col">
          <h6>Institucional</h6>
          <a href="#">Minha conta</a>
          <a href="#">Termos de garantia</a>
          <a href="#">Rastreamento de pedidos</a>
        </div>
        <div class="col">
            <div class="fale-conosco">
          <h6>Fale conosco</h6>
          <div class="icones-fale-conosco">
          <a href="#"><img class="icone-img" src="/assets/img/Vector.svg" alt="Ícone de e-mail"></a>
          <a href="#"><img class="icone-img"  src="/assets/img/whatsapp-square-brands 1.svg" alt="Ícone do whatsapp."></a>
          </div>
        </div>
        </div>
        <div class="col">
            <div class="redes-sociais">
          <h6>Redes sociais</h6>
          <div class="icones-redes-sociais">
          <a href="#"><img class="icone-img" src="/assets/img/facebook-icon.svg" alt="Ícone do facebook"></a>
          <a href="#"><img class="icone-img" src="/assets/img/ícon-instagram.svg" alt="Ícone do instagram"></a>
          </div>
        </div>
        </div>
        <div class="col">
          <h6>Endereço</h6>
          <div class="endereco-texto">
          <a href="#"><img class="icone-img" src="/assets/img/icone-mapa.svg" alt="Ícone do Mapa"></a>
          <p>Lorem ipsum dolor, 11  -  CEP: 00000-000  - São Paulo - SP</p>
        </div>
      </div>
      <div class="row">
        <div class="col-9">
          <h6>Cadastre-se para receber novidades e promoções</h6>
          <input id="campo-email" type="email" placeholder="email@mail.com" required>
          <button id="botao-cadastrar" (click)="onClick()">Cadastrar</button>
        </div>
      <div class="row">
        <div class="col-12">
          <p id="copyright">COPYRIGHT 2021 ° GAME MANIA ° TODOS OS DIREITOS RESERVADOS</p>
        </div>
      </div>
    </div>
  </div>
