<main>
    <h2>Conheça alguns de nossos parceiros</h2>    
    <div class="container-grid-parceiros">
        <a href="https://www.dell.com/pt-br" target="_blank"><img src="/assets/img/dell-logo.png" alt="Logo da empresa Dell"></a>
        <a href="https://www.nintendo.com/pt_BR/" target="_blank"><img src="/assets/img/nintendo-logo.png" alt="Logo da empresa Nintendo"></a>
        <a href="https://www.samsung.com/br/" target="_blank"><img src="/assets/img/samsung-logo.png" alt="Logo da empresa Samsung"></a>
        <a href="https://www.hp.com/br-pt/shop/" target="_blank"><img class="logo-hp" src="/assets/img/HP-Logo.png" alt="Logo da empresa HP"></a>
    </div>
</main>
