<main class="box-principal">
    <div class="container-grid-comunicacao">
      <div class="container-grid-sac">
          <img src="/assets/img/phone-volume-solid.svg" alt="Ícone de telefone">
        <div class="texto-comunicacao">
          <h5>Serviço de Atendimento ao Consumidor (SAC)</h5>
          <h6>4000 1111 (capitais e regiões metropolitanas) ou 0800 000 1111 (demais regiões)</h6>
          <p>Atendimento de segunda a sexta, das 9h às 18h.</p>  
        </div>
      </div>       
    <!-- Formulário Fale Conosco -->  
          <div class="formulario-fale-conosco">
              <h5>Fale conosco</h5>
              <p>Nome <input id="nome" type="text"></p>
              <p>Telefone <input id="telefone" type="tel"></p>
              <p>E-mail <input id="email" type="email"></p>
              <p>Assunto <input id="assunto" type="text"></p>
              <p>Descrição <input id="descricao" type="text"></p>
              <button onclick="faleConosco()">Enviar</button>
          </div>
    </div> 
  </main>


