<!-- Cards opniões -->  
<main>
    <section class="cards-formulario">
        <h2>Conheça a opinião dos clientes sobre nossos produtos e serviços</h2>
        <div class="container-clientes">
            <div class="cliente">
              <img src="/assets/img/cliente-1.png" alt="Depoimento do cliente 1">
            </div>
            <div class="cliente">
              <img src="/assets/img/cliente-2.png" alt="Depoimento do cliente 2">
            </div>
            <div class="cliente">
              <img src="/assets/img/cliente-3.png" alt="Depoimento do cliente 3">
            </div>
        </div>
    </section>
    <section class="cards-formulario">
<div class="sua-mensagem">
    <h5>Envie-nos também o seu depoimento</h5>
    <p>Nome <input id="nome-cliente" type="text"></p>
    <p>Idade <input id="idade-cliente" type="text"></p>
    <p>Cidade <input id="cidade-cliente" type="text"></p>
    <p>Rede social (opcional) <input id="redesocial-cliente" type="text"></p>
    <p>Produto comprado na loja <input  id="produto-cliente" type="text"></p>
    <p>Mensagem</p> 
    <input id="mensagem-cliente" type="text">
    <button onclick="cadastroDepoimento()">Enviar</button>
</div>
</section>
</main>